[push]
    default = simple
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[include]
    path = ~/.gitconfig.user
    path = ~/.gitconfig.local
[rerere]
	enabled = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[alias]
    a = add
    aa = add -A
    p = push
    b = branch
    f = fetch
    d = diff --cached
    cl = clone
    pl = pull
    plr = pull --rebase
    rn = !git config "branch.$(git bn).remote"
    bn = !git rev-parse --abbrev-ref HEAD 2> /dev/null
    s = status -s -b
    st = stash
    r = reset
    c = commit
    cm = commit -m
    co = checkout
    rb = rebase -i
    rba = rebase --abort
    rbc = rebase --continue
    t = tag
    td = tag -dg
    l = log --decorate=short --decorate-refs="refs/tags/*" --pretty=format:'%C(3)%h %C(250)%<(12,trunc)%aN %C(245)%<(18)%ad %C(11)%d %Creset%s' --date=format:'%a %b %Y %I:%M:%S %p'
    lr = l --relative-date
    sub = "!git submodule deinit ${@} --all --force && git submodule update ${@} --init"
    isrepo = "!git rev-parse ${@} --is-inside-work-tree > /dev/null 2>&1"
    ischanged = "! ! git diff-index ${@} --quiet HEAD --"
