[push]
    default = simple
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[include]
    path = ~/.gitconfig.user
    path = ~/.gitconfig.local
[rerere]
	enabled = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[alias]
    a = add
    aa = add -A
    p = push
    b = branch
    s = status
    c = commit
    cm = commit -m
    co = checkout
    r = rebase -i
    l = log --decorate=short --decorate-refs="refs/tags/*" --pretty=format:'%C(3)%h %C(250)%<(12,trunc)%aN %C(245)%<(18)%ad %C(11)%d %Creset%s' --date=format:'%a %b %Y %I:%M:%S %p'
    lr = l --relative-date
